$--color-primary: #1976d2 !default;
$--color-secondary: #37474f !default;
$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;
/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

.el-badge__content {
  background: #3b3b3b;
}

.el-radio-button__inner {
  padding: 5.5px 15px;
}
.el-tree-node__content {
  height: 30px;
}
.el-tree-node__label {
  font-size: 15px;
}

.el-cascader {
  width: 440px;
}

.el-cascader-menu {
  height: 590px;
  width: 320px;
}


#update_product_dialog {
  .el-form-item {
    margin: 20px;
  }
}

  // for algolia search
  .el-popover {
    padding: 0;
    margin: 0;
  }
