// https://material.io/tools/color
// Comments - LEGIBLE text color
// Large text is defined as 14 point (typically 18.66px)
// and bold or larger, or 18 point (typically 24px) or larger.
// Normal text is below 18 point or below 14 point and bold.
$color-primary-light-3: #dfeffb; // white
$color-primary-light-2: #b0d8f8; // white
$color-primary-light: #63b9fa; // black
$color-primary: #0976d4; // white, black
$color-primary-dark: #004072; // white


$color-secondary-dark: #101010; // white
$color-secondary: #363636; // for text
$color-secondary-light: #606060; // white, black-large

$color-success-light: #e8ff58; // black
$color-success: #b1ff00; // black
$color-success-dark: #7bcb00; // black, large white
$color-success-second: #67c23a; // black

$color-warning-light: #ffdd4b; // black
$color-warning: #ffab00; // black
$color-warning-dark: #c67c00; // black, large white

$color-danger-light: #ff8a50; // black
$color-danger: #ff5722; // black, large white
$color-danger-dark: #c41c00; // white, large black

$color-info-dark: #4b636e; // white, large black
$color-info: #78909c; // black, large white
$color-info-light: #a7c0cd; // black

// SCREEN
$xs-screen: 768px;
$sm-screen: 992px;
$md-screen: 1200px;
$lg-screen: 1920px;

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: $color-primary;
}

.algolia-highlight {
  color: $color-primary;
  font-weight: 700;
}

@import "transitions";
@import "mixins";
