$color-primary: #015ba2;
$color-secondary: #4a4a4a;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;

a {
  text-decoration: none;
}

.el-badge__content {
  background: #3b3b3b !important;
}

@import "transitions";
