$color-primary: #409EFF;
$color-secondary: #262f3d;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;

a {
  text-decoration: none;
}

@import "transitions";
