@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin rotate($val, $addTransform) {
  -webkit-transform: rotate($val) $addTransform;
  -moz-transform: rotate($val) $addTransform;
  -ms-transform: rotate($val) $addTransform;
  -o-transform: rotate($val) $addTransform;
  transform: rotate($val) $addTransform;
}

@mixin translateX($val) {
  -webkit-transform: translateX($val);
  -moz-transform: translateX($val);
  -ms-transform: translateX($val);
  -o-transform: translateX($val);
  transform: translateX($val);
}

@mixin primaryShadow {
  -webkit-box-shadow: 0px 4px 12px 0px rgba(99, 185, 250, 0.4);
  -moz-box-shadow: 0px 4px 12px 0px rgba(99, 185, 250, 0.4);
  box-shadow: 0px 4px 12px 0px rgba(99, 185, 250, 0.4);
}

@mixin secondaryShadow {
  -webkit-box-shadow: 0 14px 28px rgba(29, 134, 239, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(29, 134, 239, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(29, 134, 239, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@mixin thirdShadow {
  -webkit-box-shadow: 0 14px 14px rgba(29, 134, 239, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 14px rgba(29, 134, 239, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 4px 8px rgba(29, 134, 239, 0.25), 0 4px 8px rgba(0, 0, 0, 0.22);
}
